.map-opasity {
	width: 100%;
	height: 208px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	position: absolute;
	background-color: #fff;
	opacity: .90;
}
.map-content {
	display: block;
	position: absolute;
	z-index: 1;
	left: 530px;
	margin-top: 45px;
}
.map-img {
	display: block;
	width: 24px;
	height: 30px;
	background-image: url(../../images/sprite.png);
	background-position: -1256px 0px;
	margin-left: auto;
	margin-right: auto;
}
.map-content h2 {
	color: #f38181;
	text-align: center;
	font-size: 2.4rem;
	font-family: Montserrat;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 2rem;
	padding-top: 1.5rem;
}
footer {
	background-color: #f8f8f8;
	width: 100%;
}
.footer-wrap {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding-top: 7.5rem;
	padding-bottom: 7rem;
	border-bottom: 1px solid #ccc;
}
.mogo-blog {
	width: 37%;
	text-align: left;
}
.mogo-blog h2 {
font-size: 4.6rem;
color: #999999;
font-weight: 700;
font-family: Montserrat;
padding-bottom: 5rem;
}
.mogo-text {
	border-bottom: 1px solid #999999;
}
.mogo-blog p {
	color: #999999;
	font-family: Roboto;
	font-size: 1.5rem;
	padding-bottom: 4.5rem;
}
.mogo-blog h4 {
font-family: Montserrat;
font-size: 1.4rem;
padding-bottom: 1.8rem;
}
.mogo-blog span {
	font-size: 1.8rem;
	font-weight: 700;
}
.social-f {
	display: inline-block;
	padding-top: 1.5rem;
}
.social-f p {
	float: left;
	padding-right: 1.5rem;
}
.soc {
	display: block;
	width: 21px;
	height: 21px;
	background-image: url(../../images/sprite.png);
	float: left;
}
.social-fb {
	background-position: -1475px 1px;
}
.social-tw {
	background-position: -1510px 2px;
}
.social-in {
	background-position: -1558px 1px;
}
.social-p {
	background-position: -1604px 1px;
}
.social-g {
	background-position: -1654px 3px;
}
.social-yo {
	background-position: -1702px 3px;
}
.social-go {
	background-position: -1750px 1px;
}
.social-tv {
	background-position: -1795px 2px;
}
input {
	padding: 1.3rem 1.5rem 1rem 1.5rem;
	text-align: left;
	font-size: 1.5rem;
	color: #ccc;
	font-family: Roboto;
	font-style: italic;
}
button {
	padding: 1.7rem 1.8rem 1.3rem 1.8rem;
	background-color: #95e1d3;
	color: #fff;
	text-transform: uppercase;
	border: none;
	font-weight: 700;
	margin-left: -3px;
}
.blogs {
	width: 33%;
	text-align: left;
}
.blogs h2,
.instagram h2 {
font-size: 1.4rem;
color: #333333;
font-family: Montserrat;
padding-bottom: 5rem;
padding-top: 2rem;
text-transform: uppercase;
}
.blogs-footer {
	display: block;
	width: 100%
}
.blogs-footer1 {
	display: block;
	margin-bottom: 4rem;
}
.blogs-footer1:last-of-type {
	margin-bottom: 0rem;
}
.blogs-img {
	width: 120px;
	height: 80px;
	background-color: #000;
	display: block;
	float: left;
}
.blogs-content {
	padding-left: 15rem;
}
.blogs-content h4 {
	font-size: 1.2rem;
	color: #000;
	font-family: Montserrat;
	padding-top: 2rem;
	text-transform: uppercase;
	font-weight: 300;
}
.blogs-content h3,
.instagram h3 {
	color: #999999;
	font-family: Roboto;
	font-size: 1.3rem;
	font-style: italic;
	padding-top: 1rem;
}
.instagram {
	width: 23%;
	display: block;
	text-align: left;
}
.instagram-blog {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around
}
.instagram h3 {
	padding-top: 2rem;
}
.footer {
	font-size: 1.4rem;
	color: #000;
	font-family: Montserrat;
	padding-top: 2rem;
	font-weight: 300;
	padding-bottom: 2rem;
}
.footer span {
	color: #f38181;
}