@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i,400');
html {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Kaushan Script', cursive;
	font-size: 10px;
}